<h4 calss="text-black">fill forms to know your eligible credit card offer</h4>
<div class="container">
    <div class="card">
        <h1 class="card_title">Tell us about yourself</h1>
    
        <form class="card_form">
            <div class="input">
                <input type="text" class="input_field" required />
                <label class="input_label">First name</label>
            </div>
            <div class="input">
                <input type="text" class="input_field" required />
                <label class="input_label">Last name</label>
            </div>
            <div class="input">
                <input type="date of birth" class="input_field" required />
                <label class="input_label">Date of birth</label>
                <span class="input_eye">
          


    
    
  
  

      

    